@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0c0ce94d;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 25%;
  height: 50vh;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.input-group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}


.input-box {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.input-box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
}


.input-box input:hover {
  background-color: #eeeeee75;
}

.input-box input:focus-visible {
  outline: 1px solid #6c63ff;
}

.input-box label,
.gender-title h6 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #000000c0;
}

.input-box input::placeholder {
  color: #000000be;
}

.cadastre-se a{
  text-decoration: none;
}

.cadastre-se button{
  background: none;
  border: none;
}

.continue-button button {
  width: 100%;
  margin: 2.5rem auto;
  border: none;
  background-color: #6c63ff;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
}

.continue-button button:hover {
  background-color: #6b63fff1;
}

.continue-button button a {
  text-decoration: none;
  font-size: 0.93rem;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 1330px) {
  .container {
    width: 50%;
  }
}


@media screen and (max-width: 1064px) {
  .container {
    width: 50%;
    height: 50%;
  }
}